@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&display=swap");
:root {
  --text: #252525;
  --text-2: #25252580;
  --bg: whitesmoke;
  --primary: #3db4f2;
  --secondary: rgb(237 237 237);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
body {
  color: var(--text);
  background-color: var(--bg);
}
.dark-mode {
  --bg: #252525;
  --text: whitesmoke;
  --text-2: #6a6a6a80;
  --secondary: rgb(46 46 46);
}
.light-mode {
  --text: #252525;
  --text-2: #25252580;
  --bg: whitesmoke;
  --secondary: rgb(237 237 237);
}
.dark-blue {
  --text: whitesmoke;
  --text-2: #8d8d8d1c;
  --bg: #0b1622;
  --primary: #3db4f2;
  --secondary: #151f2e;
}
/* -------------
  INITIALIZATION
  -------------- */
.container {
  margin: 0 auto;
  width: 50%;
}
.section-container {
  padding-bottom: 2vh;
}
.title-2 {
  font-size: 25px;
}
/* -------------
  INTRO
  -------------- */
.introduction {
  padding: 5vh 0;
}
.title,
.hl,
.title-2 {
  color: var(--primary);
}
/* -------------
  PROJECTS
  -------------- */
.projects-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 2vh 0;
}
.projects-main-2 {
  background-color: var(--secondary);
}
.projects-box {
  padding: 8px;
  height: 100%;
  border-radius: 5px;
}
.projects-img {
  width: 100%;
  border-radius: 5px;
}
.projects-desc {
  font-size: 15px;
  opacity: 50%;
}
.projects-link {
  height: 100%;
  text-decoration: none;
  color: var(--text);
}
.collab-title,
.projects-title {
  color: var(--primary);
}
.collab-main {
  display: flex;
}
.collab {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--text-2);
}
.collab-img {
  width: 100%;
  border-radius: 50%;
}
.collab-2 {
  transform: translateX(-14px);
}
.see-more-con {
  display: flex;
  align-items: center;
  line-height: 44px;
}
.see-more-box {
  height: 100%;
  display: flex;
  align-items: center;
}
.see-more {
  color: var(--text-2);
  font-size: 3rem;
}
/* -------------
  CONTACT
  -------------- */
.contact-main {
  padding: 1vh 0;
}
.con-in {
  position: relative;
  padding-top: 15px;
}
.con-in input,
textarea {
  width: 20vw;
  color: var(--text);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--primary);
  outline: none;
  font-size: 15px;
  overflow: hidden;
}
textarea {
  height: 100px;
}
.con-in input {
  height: 25px;
}
.con-in span {
  position: absolute;
  left: 0;
  color: var(--text);
  opacity: 90%;
}
.con-in input:focus ~ span,
.con-in input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span {
  color: var(--primary);
  transform: translateY(-15px);
  font-size: 13px;
}
.submit {
  font-size: 15px;
  padding: 5px 45px;
  margin-top: 5px;
  color: var(--bg);
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}
.contact--main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.follow-icons {
  display: flex;
  font-size: 25px;
  gap: 8px;
}
.follow {
  text-align: end;
}
.follow-icon > a {
  color: var(--text);
}
#views {
  color: var(--primary);
}
.theme {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.theme-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 3px;
  width: 30px;
  height: 30px;
  text-align: start;
  border: 2px solid #ffffff80;
  border-radius: 5px;
  cursor: pointer;
}
.t-dark {
  color: #3db4f2;
  background-color: #252525;
}
.t-light {
  color: #3db4f2;
  background-color: whitesmoke;
}
.t-dark-blue {
  color: #3db4f2;
  background-color: #0b1622;
}
.theme-main {
  display: flex;
  gap: 5px;
}
/* -------------
  RESPONSIVENESS
  -------------- */
@media screen and (max-width: 1440px) {
  .container {
    width: 70%;
  }
  .con-in input,
  textarea {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 980px) {
  .projects-main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 80%;
  }
  .projects-main {
    grid-template-columns: 1fr;
  }
  .projects-main-2 {
    background-color: transparent;
  }
  .see-more-con {
    line-height: normal;
  }
  .see-more {
    font-size: 15px;
  }
  .contact--main {
    flex-direction: column;
  }
  .con-in input,
  textarea {
    width: 80vw;
  }
  .follow {
    text-align: start;
  }
  .theme {
    align-items: flex-start;
  }
  .section-container {
    padding-bottom: 4vh;
  }
}

/* 🌹 */
