@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400;700&display=swap");
:root {
  --text: #252525;
  --text-2: #25252580;
  --bg: whitesmoke;
  --primary: #3db4f2;
  --secondary: rgb(237 237 237);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", sans-serif;
}
body {
  color: var(--text);
  background-color: var(--bg);
}

/* -------------
  INITIALIZATION
  -------------- */
.container {
  margin: 0 auto;
  width: 50%;
}
.section-container {
  padding-bottom: 2vh;
}
.title-2 {
  font-size: 25px;
}
.skills-main,
.projects-main {
  padding: 2vh 0;
}

/* -------------
  SCROLLBAR
  -------------- */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text);
}

/* -------------
  PRELOADER-POSTLOADER
  -------------- */
#pre-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#post-loader {
  display: none;
}
.spinner {
  width: 44.8px;
  height: 44.8px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
}

.spinner > div {
  background-color: rgba(71, 75, 255, 0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2.2px solid var(--primary);
}

.spinner div:nth-of-type(1) {
  transform: translateZ(-22.4px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  transform: translateZ(22.4px);
}

@keyframes spinner-y0fdc1 {
  0% {
    transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
    transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}
/* -------------
  INTRO
  -------------- */
.introduction {
  padding: 5vh 0 2vh 0;
}
.title,
.hl,
.title-2 {
  color: var(--primary);
}
.intro-link {
  text-decoration: none;
  color: var(--text);
}
.cv {
  padding: 4px 20px;
  margin-top: 8px;
  background-color: var(--bg);
  border: 2px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
}
/* -------------
  SKILLS
  -------------- */
.skill-text {
  color: var(--bg);
  padding-left: 25px;
}
.skills-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}
.skill-fg {
  background-color: var(--primary);
  border-radius: 5px;
}
.skill-bg {
  background-color: transparent;
  border-radius: 5px;
}

/* -------------
  PROJECTS
  -------------- */
.projects-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.projects-main-2 {
  background-color: var(--secondary);
  border-radius: 5px;
}
.projects-box {
  padding: 8px;
  height: 100%;
  border-radius: 5px;
}
.projects-img {
  width: 100%;
  border-radius: 5px;
}
.projects-desc {
  font-size: 15px;
  opacity: 50%;
}
.projects-link {
  height: 100%;
  text-decoration: none;
  color: var(--text);
}
.collab-title,
.projects-title {
  color: var(--primary);
}
.collab-main {
  display: flex;
}
.collab {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--text-2);
}
.collab-img {
  width: 100%;
  border-radius: 50%;
}
.collab-2 {
  transform: translateX(-14px);
}
.see-more-con {
  display: flex;
  align-items: center;
  line-height: 44px;
}
.see-more-box {
  height: 100%;
  display: flex;
  align-items: center;
}
.see-more {
  color: var(--text-2);
  font-size: 3rem;
}
/* -------------
  CONTACT
  -------------- */
.contact-main {
  padding: 1vh 0;
}
.con-in {
  position: relative;
  padding-top: 15px;
}
.con-in input,
textarea {
  width: 20vw;
  color: var(--text);
  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--primary);
  outline: none;
  font-size: 15px;
  overflow: hidden;
}
textarea {
  height: 100px;
}
.con-in input {
  height: 25px;
}
.con-in span {
  position: absolute;
  left: 0;
  color: var(--text);
  opacity: 90%;
}
.con-in input:focus ~ span,
.con-in input:valid ~ span,
textarea:focus ~ span,
textarea:valid ~ span {
  color: var(--primary);
  transform: translateY(-15px);
  font-size: 13px;
}
.submit {
  font-size: 15px;
  padding: 5px 45px;
  margin-top: 5px;
  color: var(--bg);
  background-color: var(--primary);
  border: none;
  cursor: pointer;
}
.contact--main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.follow-icons {
  display: flex;
  font-size: 25px;
  gap: 8px;
}
.follow {
  text-align: end;
}
.follow-icon > a {
  color: var(--text);
}
#views {
  color: var(--primary);
}
/* -------------
  RESPONSIVENESS
  -------------- */
@media screen and (max-width: 1440px) {
  .container {
    width: 70%;
  }
  .con-in input,
  textarea {
    width: 30vw;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 980px) {
  .projects-main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .skills-main {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 80%;
  }
  .see-more-con {
    line-height: normal;
  }
  .see-more {
    font-size: 45px;
  }
  .contact--main {
    flex-direction: column;
  }
  .con-in input,
  textarea {
    width: 80vw;
  }
  .follow {
    text-align: start;
  }
  .theme {
    align-items: flex-start;
  }
  .section-container {
    padding-bottom: 4vh;
  }
}
@media screen and (max-width: 350px) {
  .projects-main {
    grid-template-columns: 1fr;
  }
  .see-more {
    color: var(--primary);
    font-size: 15px;
  }
}

/* 🌹 */
